<div class="container p-3">
  <h1 class="text-center mb-4">Dashboard</h1>

  <div class="row g-3 text-center align-items-stretch">

    <div class="col-4">
      <div class="bg-light p-3 rounded-3 shadow-sm h-100">

        <h4>You</h4>
        <a href="/map" class="btn btn-primary mt-3">View Map</a>


      </div>
    </div>

    <div class="col-8">
      <div class="bg-body-secondary p-3 rounded-3 shadow-sm h-100">

        <div class="row g-3 rounded-3">

          <div class="col-6">
            <div class="bg-light p-3 rounded-3 shadow-sm h-100">
              <h5>Your Favorites</h5>
              {{#if favorites.length}}
              <div class="text-start mt-3">
                {{#each favorites}}
                <div class="mb-3">
                  <b>{{this.name}}</b>
                  <br>{{this.address}}
                  {{#if this.phone}}
                  <br>{{this.phone}}
                  {{/if}}
                  {{#if this.website}}
                  <br><a href="{{this.website}}" target="_blank">Visit Website</a>
                  {{/if}}
                </div>
                <hr>
                {{/each}}
              </div>
              {{else}}
              <p class="mt-3">You have no favorited restaurants yet.</p>
              {{/if}}

              <h5 class="mt-4">Most Favorited</h5>

              {{#if topFavorites.length}}
              <div class="text-start mt-3">
                {{#each topFavorites}}
                <div class="mb-3">
                  <b>{{this.name}}</b>
                  <br>{{this.address}}
                  <br><small>{{this.favorite_count}} favorites</small>
                </div>
                <hr>
                {{/each}}
              </div>
              {{else}}
              <p class="mt-3">No restaurants have been favorited yet.</p>
              {{/if}}

            </div>
            
            <hr>

          </div>

          <div class="col-6">
            <div class="bg-light p-3 rounded-3 shadow-sm h-100">
              <h5>Random Recommendation</h5>
              {{#if restaurant}}
              <img src="{{restaurant.image_path}}" class="img-fluid">
              <div class="text-start p-2">
                <p>
                  <b>{{restaurant.name}}</b>
                  <br>{{restaurant.address}}
                  <br><a href="{{restaurant.website}}" target="_blank">Visit Website</a>
                </p>
              </div>
              {{else}}
              <p>No restaurant available.</p>
              {{/if}}
              <h5>Weekly Deal</h5>
              {{#if deal}}
              <img src="{{deal.image_path}}" class="img-fluid">
              <div class="text-start p-2">
                <p>
                  <b>{{deal.name}}</b>
                  <br>{{deal.address}}<br>
                  {{#if deal.note}}
                  <span>{{deal.note}}</span><br>
                  {{/if}}
                  25% off all week!
                </p>
              </div>
              {{else}}
              <p>No weekly deal available.</p>
              {{/if}}
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>