<div class="container">
    <h2>{{profileUsername}}</h2>
    {{#if allowEdit}}
        <small><a href="/editprofile">Edit</a></small><br>
    {{/if}}
    <label for="profileImage">Profile image: </label><br>
    <img src="{{#if profileUserImg}}{{profileUserImg}}{{else}}/resources/profile.png{{/if}}" class="profileImage" alt="Profile Image" id="profileImage" height="96" width="96"><br>
    {{#if profileRealName}} {{#if showRealName}}
    <label for="profileRealName">Real name: </label>
    <p id="profileRealName">{{profileRealName}}</p>
    {{/if}} {{/if}}
    <label for="profileFavRestaurants">Favorited restaurants</label>
    <div class="bg-light p-3 rounded-3 shadow-sm h-100", id="profileFavRestaurants">
        {{#if favorites.length}}
            <div class="text-start mt-3">
            {{#each favorites}}
                <div class="mb-3">
                    <b>{{this.name}}</b>
                    <br>{{this.address}}
                    {{#if this.phone}}
                        <br>{{this.phone}}
                    {{/if}}
                    {{#if this.website}}
                        <br><a href="{{this.website}}" target="_blank">Visit Website</a>
                    {{/if}}
                </div>
                <hr>
            {{/each}}
            </div>
        {{else}}
            <p class="mt-3">You have no favorited restaurants yet.</p>
        {{/if}}
    </div>
</div>
