<div class="container">
    <div id="warningContainer">
        {{> warning}}
    </div>
    <div class="row">

        <div class="col card" id="friendsColumn">
            <br>
            <div class="text-center">
                <h2>Friends</h2>
            </div>
            {{#if numFriends}}
                {{#each friends}}
                    <div class="container row" id="divFor{{this.user_id}}">
                        <div class="col">
                            <img src={{#if this.image_path}}"{{this.image_path}}"{{else}}"/resources/profile.png"{{/if}} alt="Profile Image" height="96" width="96" class="profileImage">
                        </div>
                        <div class="col">
                            <a href="/profile/{{this.username}}">{{this.username}}</a>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" onclick="removeFriend(this)" id="{{this.user_id}}">
                                Remove friend
                            </button>
                        </div>
                        <hr>
                    </div>
                {{/each}}
            {{else}}
                <div class="text-center">
                    <b>
                        You don't have any friends added.
                    </b>
                </div>
            {{/if}}
        </div>
        <div class="col card">
            <br>
            <div class="row">
                <div class="text-center">
                    <h2>Friend Requests</h2>
                </div>
                {{#if numFriendRequests}}
                    {{#each friendRequests}}
                        <div class="container row" id="divFor{{this.user_id}}">
                            <div class="col">
                                <img src={{#if this.image_path}}"{{this.image_path}}"{{else}}"/resources/profile.png"{{/if}} alt="Profile Image" height="96" width="96" class="profileImage">
                            </div>
                            <div class="col">
                                <p>{{this.username}}</p>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <button class="btn btn-primary" onclick="acceptFriendRequest(this)" id="{{this.user_id}}">
                                        Accept
                                    </button>
                                </div>
                                <div class="row">
                                    <button class="btn btn-danger" onclick="declineFriendRequest(this)" id="{{this.user_id}}">
                                        Decline
                                    </button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="text-center">
                        <b>
                            You don't have any pending friend requests.
                        </b>
                    </div>
                {{/if}}
            </div>
            <hr>
            <div class="row">
                <div class="text-center">
                    <div class="col">
                        <h2>Sent Requests</h2>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#friendRequestModal">
                            Add friend
                        </button>
                    </div>
                </div>
                {{#if numSentRequests}}
                    {{#each sentRequests}}
                        <div class="container row" id="divFor{{this.user_id}}">
                            <div class="col">
                                <img src={{#if this.image_path}}"{{this.image_path}}"{{else}}"/resources/profile.png"{{/if}} alt="Profile Image" height="96" width="96" class="profileImage">
                            </div>
                            <div class="col">
                                <p>{{this.username}}</p>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger" onclick="cancelSentRequest(this);" id="{{this.user_id}}">
                                    Cancel
                                </button>
                            </div>
                            <hr>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="text-center">
                        <b>
                            You don't have any sent friend requests.
                        </b>
                    </div>
                {{/if}}
                <br>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="friendRequestModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Send friend request</h2>
            </div>
            <div class="modal-body">
                <form action="/requests/send" method="post">

                    <b>Username: </b>
                    <input type="text" name="username"> <br>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/resources/friends.js"></script>